html,body{
	margin: 0;
	padding: 0;
	font-family: "黑体";
}
.main{
	border: solid;
	width: 800px;
	height: 450px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -225px;
	margin-left: -400px;
}
.begin{
	width: 50px;
	height: 50px;
	border: solid;
	border-radius: 50px;
}
.begin div{
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 40px solid black;
}